<div class="message-input">
  <%= form_for(@message, remote: true) do |f| %>
      <%= f.text_area :content, class: 'mdl-textfield__input', autofocus: true %>
      <%= f.submit "Send", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored', id: "send-button"%>
  <% end %>
</div>
