<div class="chatroom">
  <div class="row chatroom-heading">
    <div class="heading">
      <%= current_user.username %>
    </div>
  </div>

  <div class="container message-container">
    <div class="message-wr">
      <%= render 'messages' %>
      <%= render 'message_form' %>
    </div>
  </div>
</div>
