<% user ||= @user %>
<div class="stats">
  <a href="<%= following_user_path(id: user.id)%>" class='stat-link'>
    <span id="following" class="stat">
      <%= user.following.count %>
      following
    </span>
  </a>
  <a href="<%= followers_user_path(id: user.id)%>" class='stat-link'>
    <span id="followers" class="stat">
      <%= user.followers.count %>
      followers
    </span>
  </a>
</div>
