<% @users.each do |user| %>
  <div class="card">
    <div class="user-card">
      <% if user.avatar.url %>
        <%= image_tag user.avatar.url, class: "card-image-top" %>
      <% end %>
      <div class="card-body">
        <p class="card-text"><%= user.username %><br><%= user.city %></p>
        <button class="btn btn-float btn-primary" type="button"><i class="material-icons">add</i></button>
      </div>
        <button type="button" class="btn btn-warning btn-lg btn-block">Who I Follow</button>
        <button type="button" class="btn btn-warning btn-lg btn-block">Recommended</button>
        <button type="button" class="btn btn-warning btn-lg btn-block">Message Me</button>
    </div>
  </div>
  <br />
<% end %>
