
<div class="mdl-grid" id="homepage-grid">
  <div id="img1" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= link_to "Find a Grubber!", users_feed_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored front-page-link" %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      New to the Area? Don't know where to eat? Follow your friends or influential Grubbers in your City to find the unheard Grub spots.
    </div>
    <div class="mdl-card__menu">
    </div>
  </div>
    <div id="img2" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= link_to "Rate a Restaurant!", restaurants_feed_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored front-page-link" %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        Help out the Grubber community by rating a restaurant you love.  Share your Grubber profile to help other users decide where to eat!
      </div>
      <div class="mdl-card__menu">
      </div>
    </div>
</div>
