<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <h3>Users</h3>
    <%= render 'users' %>
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone">
    <h3>Restaurants</h3>
    <%= render 'restaurants' %>
  </div>
</div>
