<% @restaurants.each do |restaurant| %>
  <div class="card">
    <%= image_tag "blank.jpg", class: "card-img-top" %>
    <!-- <%= # image_tag @restaurant.pic, class: "card-img-top" %> -->
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <p class="card-text">
        <%= restaurant.location %>
        <!--  follower's ratings and reviews-->
      </p>
    </div>
  </div>
<% end %>
