<div class="container">
	<div class="row">
	<div class="col">
    <div class="card" style="width: 18rem;">
        <%= image_tag("chris.jpg", :alt => "Card image cap", :class => "style_image") %>
        <div class="card-body">
            <p class="card-text">Chris Tran <br> Charlotte,NC </p>
        </div>
    </div>
    <button type="button" class="btn btn-warning btn-lg btn-block">Who I Follow</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Restaurants I Recommend</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Ask me where to eat tonight!</button>
	</div>
	<div class="col">
	      <div aria-hidden="true" class="navdrawer-right navdrawer-permanent-lg" id="navdrawerPermanent" tabindex="-1">
    <div class="navdrawer-content">
      <nav class="navdrawer-nav">
        <a class="nav-item nav-link active" href="javascript:void(0)">Active</a>
        <a class="nav-item nav-link disabled" href="javascript:void(0)">Disabled</a>
        <a class="nav-item nav-link" href="javascript:void(0)">Link</a>
      </nav>
      <div class="navdrawer-divider"></div>
      <p class="navdrawer-subheader">Navdrawer subheader</p>
      <ul class="navdrawer-nav">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)"><i class="material-icons mr-3">alarm_on</i> Active with icon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)"><i class="material-icons mr-3">alarm_off</i> Disabled with icon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="material-icons mr-3">link</i> Link with icon</a>
        </li>
      </ul>
    </div>
  </div>
    	</div>
	</div>
	</div>

<br>
