<div class="container">
	<div class="row">
	<div class="col">
    <div class="card" style="max-width: 300px">
        <%= image_tag("chris.jpg", :alt => "Card image cap", :class => "style_image") %>
        <div class="card-body">
        	<div class="row">
        		<div class="col-8">
            	<p class="card-text">Chris Tran <br> Charlotte, NC </p>
            </div>
        	</div>
					<div class="row" id="stats">
						<%= render 'layouts/stats' %>
					</div>
					<div class="row">
						<%= render 'layouts/follow_form' if user_signed_in? %>
					</div>
    	</div>
    <button type="button" class="btn btn-warning btn-lg btn-block">Who I Follow</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Recommended</button>
	<button type="button" class="btn btn-warning btn-lg btn-block">Message Me</button>
        </div>
	</div>
	<div class="col">
	<div aria-hidden="true" class="navdrawer-right navdrawer-permanent-lg" id="navdrawerPermanent" tabindex="-1">
	    <div class="navdrawer-content">
	      <nav class="navdrawer-nav">
	        <a class="nav-item nav-link active" href="javascript:void(0)">Active</a>
	        <a class="nav-item nav-link disabled" href="javascript:void(0)">Disabled</a>
	        <a class="nav-item nav-link" href="javascript:void(0)">Link</a>
	      </nav>
	      <div class="navdrawer-divider"></div>
	      <p class="navdrawer-subheader">Navdrawer subheader</p>
	      <ul class="navdrawer-nav">
	        <li class="nav-item">
	          <a class="nav-link active" href="javascript:void(0)"><i class="material-icons mr-3">alarm_on</i> Active with icon</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" href="javascript:void(0)"><i class="material-icons mr-3">alarm_off</i> Disabled with icon</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="javascript:void(0)"><i class="material-icons mr-3">link</i> Link with icon</a>
	        </li>
	      </ul>
	    </div>
  	</div>
    	</div>
	</div>
	</div>

<br>
