<div class="container create-container">
  <div class="jumbotron">
    <h1 class="display-4">New Rating</h1>
    <%= render 'form', rating: @rating %>
    <%= link_to 'Back', ratings_path, class: 'btn btn-secondary' %>
  </div>
</div>
