<div class="container create-container">
  <div class="jumbotron">
    <h1 class="display-4">New Restaurant</h1>
    <p class="lead">Create a new restaurant</p>
    <%= render 'form', restaurant: @restaurant %>
    <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
  </div>

</div>
