/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.style_image{
	border-radius: 100%;
	padding: 35px;
	max-width: 300px;
}

div.card{
	background-color: #C4C4C4;
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	font-size: 20px;
	padding: 12px;
}

.col{
	padding: 30px;
}

.btn.btn-secondary{
	color: white;
}
.btn.btn-primary{
	color: white;
}
.btn-group-sm{
	height: 2.3em;
}

.create-container{
	margin-top: 1em;
}
.message-input{
}
form{
	height: 100%;
}
textarea{
	height: 100%;
}
.message-user{
	color: #666;
	font-size: 13px;
	margin-right: 10px;
	vertical-align: top
}
.message-wr{
  height: 60vh;
  margin: auto;
  max-width: 80vw;
}
.messages{
  height: 87%;
  overflow: scroll;
}
.chatroom-heading {
	justify-content: center;
	margin-top: 5px;
	background: white;
	padding-bottom: 5px;
}
.chatroom {
	background-image: url('./i-like-food.svg');
	height: 95vh;
}
.mdl-layout__container {
	top: 0;
}
.page-content {
	margin-top: 4em;
}
