/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'home';

.container {
  padding: 15px;
}

.col{
	padding: 30px;
}

.btn.btn-secondary{
	color: white;
}
.btn.btn-primary{
	color: white;
}
.btn-group-sm{
	height: 2.3em;
}

.create-container{
	margin-top: 1em;
}
form{
	height: 100%;
}
textarea{
	height: 100%;
}
.message-user{
	color: #666;
	font-size: 13px;
	margin-right: 10px;
	vertical-align: top;
}
.message-container {
	margin-top: 5em;
}
.message-wr{
  height: 60vh;
  margin: auto;
  max-width: 80vw;
}
.mdl-textfield__input {
	background: white !important;
	border: 2px solid black !important;
	border-radius: 2px !important;
	padding: 2px !important;
	margin-top: 5px !important;
	width: 98% !important;
}
.messages{
  height: 87%;
  overflow: scroll;
	background: white;
}
#new_message {
	display: flex;
}
.chatroom-heading {
	background: white;
	text-align: center;
	padding: 0;
	background-color: #92a7b9;
}
.chatroom {
	background-image: url('./i-like-food.svg');
	background-color: #92a7b9;
	height: 100vh;
}
.mdl-layout__container {
	top: 0;
}
.mdl-layout {
	z-index: 0;
}
.mdl-layout__drawer {
	z-index: 10;
}
#messages {
	border: 2px solid black;
	padding: 12px;
	border-radius: 3px;
}
#send-button {
	margin: 9px;
	border: 2px solid black;
}
.heading {
	font-size: 2em;
	padding: .9em;
}
.mdl-textfield__input {
	border: none !important;
	background-color: #0000001f !important;
	margin: 2px !important;
	border-radius: 3px !important;
	padding: 12px !important;
	margin-left: .9em !important;
}
.mdl-textfield__label {
	top: -5px !important;
}
.form-icon {
	margin-right: 1em;
}
.mdl-list__heading {
	justify-content: left;
}
#file-uploader {
	margin-left: 30px;
}
